<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../css/styles.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Navbar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,800i" rel="stylesheet">
    <!--
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Login Form</title>
        <LINK REL=StyleSheet HREF="style.css" TYPE="text/css" MEDIA=screen>
        <meta name="robots" content="noindex,follow" />

    -->
    <style>

        body {
            font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
            color: #404040;
            background: #0ca3d2;
        }
    </style>
</head>
<div></div>
<body background="0ca3d2">

<div></div>

<nav class="navbar navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{deposit}" >Deposit</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{withdrawal}" >Withdrawal </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{transaction}" >Transaction </a>
            </li>
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Other Services
                </a>
                <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="#">service2</a>
                    <a class="dropdown-item" href="#">service 2</a>
                    <a class="dropdown-item" href="#">service 3</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{register}" >Register</a>


            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{login}" >Sign in</a>
            </li>

            <!-- <li class="nav-item dropdown dmenu">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Dropdown link
            </a>
            <div class="dropdown-menu sm-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
              <a class="dropdown-item" href="#">Link 4</a>
              <a class="dropdown-item" href="#">Link 5</a>
              <a class="dropdown-item" href="#">Link 6</a>
            </div>
          </li> -->
        </ul>

    </div>
</nav>



<div align="center" style="margin-top: 50px">

    <div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4" >



            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading"></h4>
                <h4 class="card-title">Check your Balance</h4>
                <p class="card-text">Please click the link below to check your balance</p>

                <br>
                <br>
                <br>

                <a href="#" class="btn btn-primary">Balance</a>                <hr>

                <br>
                <br>

            </div>
<br>

        </div>

        <br>
        <br>
        <br>

        <div class="col-md-8">
            <div class="card-body">
                <div><div>
                <h5 class="card-title">You are now logged in to use the ATM-Service</h5>
                </div>
                <div align="center">
                    <br/>
                    <h4 align="center"></h4>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card" >
                                <div class="card-body">
                                    <h5 class="card-title">Deposit money using ATM</h5>
                                    <p class="card-text">Please click the link below to deposit money</p>
                                    <a href="#" class="btn btn-primary">Deposit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Withdraw money using ATM</h6>
                                    <p class="card-text">Please click the link below to withdraw money</p>
                                    <a href="#" class="btn btn-primary">Withdraw</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

    </div>
</div>

</div>

    <div align="center">
        <br/>
        <h4 align="center"></h4>

        <div class="row">

                </div>
            </div>
        </div>


    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>



</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
