<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=IYJ_rF97oP-CzSyVEW9_K7qYD-TBygLt_KqdbJulTbZAGV3OmDCqjfiMaBgmDUaTY7N7usv7LK7FzuUqhwNxse3mDwelTFlpNHTssBefnoLbC-gddjvRoJeMntmSGKWf6L5WM6GeTiRrn-fMfOufBg" charset="UTF-8"></script><script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




</head>

<body style="background: #0ca3d2">

<nav class="navbar navbar-expand-sm   navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        < class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="deposit.html">Deposit</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="withdrawal.html">Withdrawal </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="transaction.html">Transaction </a>
            </li>
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Other Services
                </a>
                <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="#">service2</a>
                    <a class="dropdown-item" href="#">service 2</a>
                    <a class="dropdown-item" href="#">service 3</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html">Sign in</a>
            </li>

            <!-- <li class="nav-item dropdown dmenu">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Dropdown link
            </a>
            <div class="dropdown-menu sm-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
              <a class="dropdown-item" href="#">Link 4</a>
              <a class="dropdown-item" href="#">Link 5</a>
              <a class="dropdown-item" href="#">Link 6</a>
            </div>
          </li>
        </ul>

    </div>
</nav>
-->

        <div class="container">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img class="card-img-top vh-25" src="https://media.nbcsandiego.com/2019/09/Pieology-Pizzeria-FB.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Custom Pizza</h5>
                            <p class="card-text">Mix and match any available toppings of your choice.</p>
                            <br/><br/><br/>
                            <a href="/order" class="btn btn-success">Order Custom Pizza</a>
                        </div>
                    </div>
                </div>
                <div>
</body>
</html>